[submodule "moplayground"]
	path = submodules/moplayground
	url = https://github.com/dynamicmobility/moplayground.git
[submodule "submodules/minimal-mjx"]
	path = submodules/minimal-mjx
	url = https://github.com/dynamicmobility/minimal-mjx.git
