[submodule "moplayground"]
	path = submodules/moplayground
	url = https://github.com/dynamicmobility/moplayground.git
[submodule "submodules/minimal-mjx"]
	path = submodules/minimal-mjx
	url = https://github.com/dynamicmobility/minimal-mjx.git
[submodule "submodules/pyPolar"]
	path = submodules/pyPolar
	url = git@github.com:dynamicmobility/pyPolar.git
